<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Go4Lunch"
        tools:ignore="DataExtractionRules"
        tools:targetApi="31">
        <activity
            android:name=".ui.chat.conversation.ChatConversationActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.main.settings.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${API_KEY}" />

        <activity
            android:name=".ui.dispatcher.DispatcherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.restaurant_detail.RestaurantDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Go4Lunch" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>